<!DOCTYPE html>
<html>
<head>
  <title>Week2RailsTest</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- <img src="http://www.processexcellencenetwork.com/lean-six-sigma-business-transformation/columns/i-can-t-believe-you-want-me-to-use-that/images/article_images/small/FrustratedManComputer.jpg"></img> -->
<img src="http://lonelybrand.com/blog/wp-content/uploads/2014/02/frustrated-banner.png" float-right></img>

  
    <h1>Customer Success Department</h1>
    <h5> 
      <%= link_to "Home", root_path %> |
      <%= link_to "List", list_path %> 
    </h5>

 <hr>
<br>



<%= yield %>

</body>
</html>
